<a href="https://colab.research.google.com/github/Hasifa1/2216190_AIML_BOOTCAMP_2023/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#16.
str="was it a car or a cat I saw"
str[::-1].upper()

'WAS I TAC A RO RAC A TI SAW'

In [107]:
#15
print("A series of characters designated as one object is known as a string"[::-1][4::3])
print("--------")
print("Welcome to python training program"[3:10][::-1])

taawkicbe  tgestrcoeeA
--------
ot emoc

In [ ]:
#17.
X=int(input())
print(X*'Z'+2*X*'O')

5
ZZZZZOOOOOOOOOO

In [ ]:
#6.
x=2
print(bin(x))
print(hex(x))
print(oct(x))
print(id(x))  # prints address of variable
print(ord('5'))  #ord() expected string of length 1, but int found
print(ord('a'))  #ord() is used for ASCII values

0b10
0x2
0o2
11530944
53
97

In [ ]:
#A)1.String methods
str="I am Hasifa from Computer Science"
print(str.upper())
print(str.lower())
print(str.capitalize())
print(str.title())
print(str.swapcase())
str="     I am Hasi   "
print(str.lstrip())

I AM HASIFA FROM COMPUTER SCIENCE
i am hasifa from computer science
I am hasifa from computer science
I Am Hasifa From Computer Science
i AM hASIFA FROM cOMPUTER sCIENCE
I am Hasi

In [ ]:
#2.List methods
li=[1,1,2,3,['a','b','c'],'apple','dog']
print(li)
li.append(5)
print(li)
cpli=[]
cpli=li.copy()
print(cpli)
li.count(1)#counts number of occurrences of 1
li.extend(['pencil','pen','eraser'])
print(li)
print(li.index('pencil'))
li.insert(1,'hasi')
print(li)
li.pop()
print(li)#last element is deleted
li.pop(5)# 5th index element is popped
print(li)
li.remove(1)#deleted 1st occurrence of 1
print(li)
cpli.reverse()
print(cpli)
num_list=[1,4,2,5,82,11,0]
num_list.sort()
print(num_list)

[1, 1, 2, 3, ['a', 'b', 'c'], 'apple', 'dog']
[1, 1, 2, 3, ['a', 'b', 'c'], 'apple', 'dog', 5]
[1, 1, 2, 3, ['a', 'b', 'c'], 'apple', 'dog', 5]
[1, 1, 2, 3, ['a', 'b', 'c'], 'apple', 'dog', 5, 'pencil', 'pen', 'eraser']
8
[1, 'hasi', 1, 2, 3, ['a', 'b', 'c'], 'apple', 'dog', 5, 'pencil', 'pen', 'eraser']
[1, 'hasi', 1, 2, 3, ['a', 'b', 'c'], 'apple', 'dog', 5, 'pencil', 'pen']
[1, 'hasi', 1, 2, 3, 'apple', 'dog', 5, 'pencil', 'pen']
['hasi', 1, 2, 3, 'apple', 'dog', 5, 'pencil', 'pen']
[5, 'dog', 'apple', ['a', 'b', 'c'], 3, 2, 1, 1]
[0, 1, 2, 4, 5, 11, 82]

In [ ]:
#3.tuple methods
tp=(1,1,2,3,['a','b','c'],'apple','dog')
print(tp)
tp[5]
print(tp.count(3))
print(tp.index('apple'))
print(len(tp))

(1, 1, 2, 3, ['a', 'b', 'c'], 'apple', 'dog')
1
5
7

In [ ]:
#4.dictionary methods
dct={1:'Hasifa',2:'teju',3:'Varshitha',4:'Vineela',5:'Roshini',6:'Nisha'}
print(dct)
print(dct.keys())
print(dct.values())
#dir(dct)
print(dct.pop(2))
print(dct[6])
dct.update({2:'Chaithanya'})
print(dct)

{1: 'Hasifa', 2: 'teju', 3: 'Varshitha', 4: 'Vineela', 5: 'Roshini', 6: 'Nisha'}
dict_keys([1, 2, 3, 4, 5, 6])
dict_values(['Hasifa', 'teju', 'Varshitha', 'Vineela', 'Roshini', 'Nisha'])
teju
Nisha
{1: 'Hasifa', 3: 'Varshitha', 4: 'Vineela', 5: 'Roshini', 6: 'Nisha', 2: 'Chaithanya'}

In [ ]:
#5.set methods
a={1,2,3,4}
b={4,5,6,7}
print(a|b)
print(a.union(b))
print(b.union(a))
print(a&b)
print(a.intersection(b))
print(a-b)
print(a.difference(b))
print(b-a)
c={1,2}
print(c.issubset(a))
print(c.issubset(b))
print(a.isdisjoint(b))
print(a.issuperset(c))
print(a.pop())
print(b.pop())
print(a|b)
print(a)
a.remove(2)
print(a)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{4}
{4}
{1, 2, 3}
{1, 2, 3}
{5, 6, 7}
True
False
False
True
1
4
{2, 3, 4, 5, 6, 7}
{2, 3, 4}
{3, 4}

In [86]:
#7.Arithmatic operators
a=1
b=2
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a**b)
print(a%b)

3
-1
2
0.5
0
1
1

In [92]:
#8.assignment operators
a=10
b=5
c=0
c+=a
print(c)
c-=b
print(c)
c*=a
print(c)
c/=b
print(c)
c//=a
print(c)

10
5
50
10.0
1.0

In [94]:
#9.comparision operators
print(a==b)
print(a>b)
print(a<b)
print(a!=b)
print(a>=b)
print(a<=b)

False
True
False
True
True
False

In [96]:
#10.logical operators
x=True
y=False
print("x and y is:",x and y)
print("x or y is",x or y)
print("not y is",not y)

x and y is: False
x or y is True
not y is True

In [97]:
#11.bitwise operators
a=13 #1101
b=14 #1110

print(a&b)
print(a|b)
print(~a)
print(a>>3)#right shift divides by 2, 3 times
print(a<<4)
print(a^b)

12
15
-14
1
208
3

In [98]:
#12.membership operators
x="hasifa"
print("c" in x)

False

In [100]:
#13.identity operators
x1=5
y1=5
x2="hello"
y2="hello"
x3=[1,2,3]
y3=[1,2,3]
print(x1 is not y1)
print(x2 is y2)
print(x3 is y3)

False
True
False

In [105]:
#14.negative indexing in list
li=[1,2,3,4,['a','b',['apple','banana',[22,33]]],6,7]
print(li[-1])
print(li[::-1])
print(li[0:4])
print(li[4][2][0][0:3])

7
[7, 6, ['a', 'b', ['apple', 'banana', [22, 33]]], 4, 3, 2, 1]
[1, 2, 3, 4]
app