<a href="https://colab.research.google.com/github/Hasifa1/2216190_AIML_BOOTCAMP_2023/blob/main/Day_2_boot_camp_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#operators
a=1
b=2
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a**b)
print(a%b)

3
-1
2
0.5
0
1
1

In [2]:
#comparision operators
a==b
a>b
a>=b
a<b
a!=b

True

In [5]:
#assignment operators
a=10
b=5
c=a+b
c-=a
print(c)

5

In [10]:
#logical operators
x=True
y=False
print("x and y is:",x and y)
print("x or y is",x or y)
print("not y is",not y)

x and y is: False
x or y is True
not y is True

In [12]:
#bitwise operators
a=13 #1101
b=14 #1110

print(a&b)
print(a|b)
print(~a)
print(a>>3)#right shift divides by 2, 3 times
print(a<<4)#left shift multipliesby 2, 4 times
#1101000-left shift of 13
#1-right shift of 13

12
15
-14
1
104

In [13]:
#membership operators
x="hasifa"
print("c" in x)

False

In [14]:
#identity operators
x1=5
y1=5
x2="hello"
y2="hello"
x3=[1,2,3]
y3=[1,2,3]
print(x1 is not y1)
print(x2 is y2)
print(x3 is y3)

False
True
False

In [15]:
#strings
str="Gradstellar"
#indexing
print(str[0])
print(str[-1])

G
r

In [29]:
#slicing
str="Gradstellar"
print(str[0:5])
print(str[::-1])
print(str[0:7:2])
print(str[::2])

Grads
ralletsdarG
Gase
Gaselr

In [31]:
#string methods
str="I am Hasifa"
print(str.upper())
print(str.lower())
print(str.capitalize())
print(str.title())
print(str.swapcase())
str="     I am Hasi   "
print(str.lstrip())

I AM HASIFA
i am hasifa
I am hasifa
I Am Hasifa
i AM hASIFA
I am Hasi

In [32]:
#string operations
str1="hello"
str2="world"
print(str1+str2)

helloworld

In [37]:
#string formats
name="hasifa"
language="Python"
year=2023
print(name,"is learning",language,"programming in",year)
#format
print("{} is learning {} programming in {}".format(name,language,year))
print("{2} is learning {1} programming in {0}".format(name,language,year))

#placeholders
print("%s is learning %s programming in %d"%(name,language,year))
#rawstring 'f'
print(f"{name} is learning {language} programming in {year}")

hasifa is learning Python programming in 2023
hasifa is learning Python programming in 2023
2023 is learning Python programming in hasifa
hasifa is learning Python programming in 2023
hasifa is learning Python programming in 2023

In [39]:
#lists
my_list=[1,2,3]
my_list1=[1,"hello","3.0"]
my_list2=["apple","banana","cherry"]

#indexing
print(my_list[2])#indexing gives the elements as output 
print(my_list[-2])

#slicing
print(my_list[:3])
print(my_list[1:2])#slicing gives a list as op

3
2
[1, 2, 3]
[2]

In [44]:
#nested list
n_list=["dragon fruit",my_list,my_list2]
print(n_list[2][1][0:4])
print(n_list[0][:6])

bana
dragon

In [50]:
#list methods
l1=[1,2,3,4,5]
l2=l1
l3=[1,2,3,4,5]
print("l1==l2",l1==l2)
print("l1 is l2",l1 is l2)
print("l1==l3",l1==l3)
print("l1 is l3",l1 is l3)
print(id(l1))
print(id(l2))
print(id(l3))
#== compares values of list
# is compares addresses of the lists

l1==l2 True
l1 is l2 True
l1==l3 True
l1 is l3 False
140644049562432
140644049562432
140644049560832

In [47]:
a=1
b=1
c=a
d=b
print(a==b)
print( a is b)

True
True